/*  Created by: Rogerio Ribeiro
    Student Number: 500527368
    Created for CPS630 Lab04

    Disclaimer: There were pieces of code that were taken from the website: http://www.cssscript.com/a-nice-to-do-list-app-with-angular-js/
                There have been some slight modifications on my part.
*/
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Signika);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #FF9933;
}

.container {
    width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    background: #ffffff;
    padding: 20px 0;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}


.container h1 {
    text-align: center;
    font-family: 'Signika', sans-serif;
}

.container input {
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    clear: both;
    overflow: hidden;
}

/* Inputs */
.inputContainer1 {
  height: 60px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  overflow: hidden;
}

.inputContainer2 {
  height: 60px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  overflow: hidden;
}

input[type="text"]{
  height: 100%;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 0;
  vertical-align: middle;
  display: inline-block;
  border: none;
  border-radius: none;
  font-size: 13px;
  color: #777;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

input[type="text"]:focus{
  outline: none;
  background: #ecf0f1;
}

::-webkit-input-placeholder {
    color: lightsteelblue;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
::-moz-placeholder {
    color: lightgrey;
    font-weight: normal;
    transition: all 0.3s;
}

::-ms-input-placeholder {
    color: lightgrey;
    font-weight: normal;
    transition: all 0.3s;
}

input:-moz-placeholder {
    color: lightgrey;
    font-weight: normal;
    transition: all 0.3s;
}
input:focus::-webkit-input-placeholder {
    color: #95a5a6;
    font-weight: bold;
}

input:focus::-moz-input-placeholder {
    color: #95a5a6;
    font-weight: bold;
}

/* Labels */
label {
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
  display: block;
  position: absolute;
}

/* Buttons */
.mainInputContainer button {
  font-family: 'Open Sans', sans-serif;
  background: black;
  border-radius: 2px;
  border: none;
  outline: none;
  height: 50px;
  width: 150px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.iconPlus {
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 20px;
}

.iconTrashButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.iconTrash {
    font-size: 20px;
}

.taskAdd {
  background: #444;
  padding-left: 15px;
}

.taskAdd:hover { background: #303030; }

/* task styles */
.taskList {
  list-style: none;
  padding: 0 20px;
}

.taskItem {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  color: #777;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.taskList .taskItem:nth-child(even) { background: #fcfcfc; }

.taskCheckbox { margin-right: 1em; }

.complete-true {
  text-decoration: line-through;
  color: #bebebe;
}

.taskList {
  color: #95a5a6;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-left: 41px;
}

/* custom checkboxes */

.taskCheckbox {
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block
  cursor: pointer;
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

.taskCheckbox:focus { outline: none; }

.taskCheckbox:before,
.taskCheckbox:checked:before {
  font-family: 'FontAwesome';
  color: #444;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.taskCheckbox:before { content: '\f096'; }

.taskCheckbox:checked:before {
  content: '\f14a';
  color: #16a085;
}

/* Completed Buttons */

.completeButton {
  background: black;
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom, black, black);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 35px;
  text-decoration: none;
}

.completeButton:hover {
  background: #5e6061;
  text-decoration: none;
}

.completeButton:focus{outline: 0;}

.removeButton {
  background: black;
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom, black, black);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.removeButton:hover {
  background: #5e6061;
  text-decoration: none;
}

.removeButton:focus{outline: 0;}

/* Seperater */
.seperation {
    margin-left: 80%;
}

.selectArrow{
    position: absolute;
    left: 50.5%;
}

/* IDS */
#title {
    border-bottom-style:groove;
    border-color:darkgray;
    font-size: 16px;
}

#description {
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
}

#titleComplete {
    border-bottom-style:groove;
    border-color:darkgray;
    font-size: 16px;
    text-decoration: line-through;
}

#descriptionComplete {
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    text-decoration: line-through;
}





