@mixin fontawesomestyle($color) {
	$facebook: #3b5998;
	$instagram: #4c68d7;
	$twitter: #00aced;
	$youtube: #bb0000;
	$font-size: 36px;

	@if $color == 'facebook' {
		font-size: $font-size;
		color: white;
	}@else if $color == 'instagram' {
		font-size: $font-size;
		color: white;
	}@else if $color == 'twitter' {
		font-size: $font-size;
		color: white;
	}@else if $color == 'youtube' {
		font-size: $font-size;
		color: white;
	} 
}