/*.navbar-default{
  height: 100px !important;
}*/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 55px;
  width: auto;
}

.navbar-default{
  margin: 0;
  background-color: white;
  border: none;
  border-radius: 0;
  padding: 15px;
}

#myNavBar {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 18px !important;
}