// Footer Content
.divider {
	margin-bottom: 2.5%;
}

.facebook {
	i {
		@include fontawesomestyle("facebook");
	}
}

.instagram {
	i {
		@include fontawesomestyle("instagram");
	}
}

.twitter {
	i {
		@include fontawesomestyle("twitter");
	}
}

.youtube {
	i {
		@include fontawesomestyle("youtube");
	}
}

.footer-copyright {
	> div {
		> div {
			a {
				text-decoration: none; 
				color: inherit; 
				font-style: italic;
			}

			font-size: 12px;
		}
	}
}