@import url('https://fonts.googleapis.com/css?family=Oxygen');

nav {

    padding: 0 200px 0 200px !important;
    
    @media (min-width:0px) and (max-width: 992px) {
        padding: 0 !important;
    }
     @media(min-width: 993px) and (max-width: 1200px) {
        padding: 0 100px 0 100px !important;

     }

     @media(min-width: 1201px) and (max-width: 1500px) {
        padding: 0 150px 0 150px !important;
     }
}

nav > div > ul.nav-margin > li{
	margin-top: 12%;

	> a {
		font-family: 'Oxygen', sans-serif;
		font-size: 18px;
		font-weight: 500;
	}
}

ul.custom-nav > li > a:hover {
	background: rgba(white, 0.1);
	padding-bottom: 6px;
}