@import '../Mixins/icon';

html, body {
  height: 0;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
  flex: 1;
}

@import '../Partial/navbar'; 

h3 {
	 @media (max-width: 992px) {
	 	font-size: 24px !important;
	 	font-style: italic;
	 }
}

@import '../Partial/footer';