html, body {
  height: 0;
  margin: 0;
  padding: 0; }

#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

main {
  flex: 1; }

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px; }

nav > div > ul.nav-margin > li {
  display: inline;
  padding: 0 125px;
  margin-top: 3.5%; }
  @media (min-width: 993px) and (max-width: 1200px) {
    nav > div > ul.nav-margin > li {
      margin-top: 7.5%;
      padding: 0 10px !important; } }
  @media (min-width: 1201px) and (max-width: 1500px) {
    nav > div > ul.nav-margin > li {
      margin-top: 5.5%;
      padding: 0 30px; } }
  @media (min-width: 1501px) and (max-width: 1700px) {
    nav > div > ul.nav-margin > li {
      margin-top: 5%;
      padding: 0 75px; } }
  nav > div > ul.nav-margin > li > a {
    font-size: 32px; }

@media (max-width: 992px) {
  h3 {
    font-size: 24px !important;
    font-style: italic; } }

.divider {
  margin-bottom: 2.5%; }

.facebook i {
  font-size: 36px;
  color: #3b5998; }

.instagram i {
  font-size: 36px;
  color: #4c68d7; }

.twitter i {
  font-size: 36px;
  color: #00aced; }

.youtube i {
  font-size: 36px;
  color: #bb0000; }

.footer-copyright > div > div {
  font-size: 12px; }
  .footer-copyright > div > div a {
    text-decoration: none;
    color: inherit;
    font-style: italic; }
