body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.logo {
  text-align: center; }

.side-nav {
  background: black !important; }
  .side-nav li a {
    color: white !important; }

.tourBtn {
  margin-top: 5%; }

.facebook i {
  font-size: 36px;
  color: #3b5998; }

.instagram i {
  font-size: 36px;
  color: #4c68d7; }

.twitter i {
  font-size: 36px;
  color: #00aced; }

.youtube i {
  font-size: 36px;
  color: #bb0000; }
