.studio-div {
	@media(max-width: 992px) {
		padding: 100px !important;
	}
}


.carousel-slider, .carousel-item,  a.carousel-item > img{
   height: 850px !important;

   @media (max-width: 992px) {
        width: 100%;
        height: 400px !important;
        margin-bottom: 0;
    }
}

