@media (max-width: 992px) {
  .studio-div {
    padding: 100px !important; } }

#wrapper {
  margin: 0 auto !important; }

.carousel-slider, .carousel-item, a.carousel-item > img {
  margin: 0.5% auto !important;
  width: 85%;
  height: 750px !important; }
  @media (max-width: 992px) {
    .carousel-slider, .carousel-item, a.carousel-item > img {
      width: 95%;
      height: 400px !important;
      margin-bottom: 0; } }
