@import '../Mixins/icon';

body {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

main {
	flex: 1;
	padding-left: 200px !important;
	// height: 100px;
}

.logo {
	text-align: center;
}

header, footer > div.container, footer > div.footer-copyright {
  padding-left: 200px !important;
}

.button-collapse {
	display: none;
}

@media only screen and (max-width : 992px) {
  header, main, footer > div.container, footer > div.footer-copyright{
    padding-left: 0 !important;
  }

  .button-collapse {
  	display: block;
  }

}
         
.side-nav {
	background: white !important;
	
	// .side-nav > li > a
	li {
		a {
			color: black !important;
		}
	}
	
}

// Tour Section
.tourBtn {
	margin-top: 5%;
}


// Footer Content
.divider {
	margin-bottom: 2.5%;
}

.facebook {
	i {
		@include fontawesomestyle("facebook");
	}
}

.instagram {
	i {
		@include fontawesomestyle("instagram");
	}
}

.twitter {
	i {
		@include fontawesomestyle("twitter");
	}
}

.youtube {
	i {
		@include fontawesomestyle("youtube");
	}
}