@import url("https://fonts.googleapis.com/css?family=Oxygen");
#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

main {
  flex: 1; }

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px; }

nav > div > ul.nav-margin > li {
  display: inline;
  padding: 0 140px;
  margin-top: 3%; }
  @media (min-width: 993px) and (max-width: 1200px) {
    nav > div > ul.nav-margin > li {
      margin-top: 5%;
      padding: 0 45px; } }
  @media (min-width: 1201px) and (max-width: 1500px) {
    nav > div > ul.nav-margin > li {
      margin-top: 4%;
      padding: 0 75px; } }
  @media (min-width: 1501px) and (max-width: 1700px) {
    nav > div > ul.nav-margin > li {
      margin-top: 3.25%;
      padding: 0 115px; } }
  nav > div > ul.nav-margin > li > a {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    font-weight: 500; }

ul.custom-nav > li > a:hover {
  background-color: inherit; }

.tourBtn {
  margin-top: 5%; }

.facebook i {
  font-size: 36px;
  color: #3b5998; }

.instagram i {
  font-size: 36px;
  color: #4c68d7; }

.twitter i {
  font-size: 36px;
  color: #00aced; }

.youtube i {
  font-size: 36px;
  color: #bb0000; }

.footer-copyright > div > div {
  font-size: 12px; }
  .footer-copyright > div > div a {
    text-decoration: none;
    color: inherit;
    font-style: italic; }
