@import '../Mixins/icon';

#wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

main {
	flex: 1;
}

.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}

@import '../Partial/navbar';

// Tour Section
.tourBtn {
	margin-top: 5%;
}

@import '../Partial/footer';