@import url("https://fonts.googleapis.com/css?family=Oxygen");
#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

main {
  flex: 1; }

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px; }

nav {
  padding: 0 200px 0 200px !important; }
  @media (min-width: 0px) and (max-width: 992px) {
    nav {
      padding: 0 !important; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    nav {
      padding: 0 100px 0 100px !important; } }
  @media (min-width: 1201px) and (max-width: 1500px) {
    nav {
      padding: 0 150px 0 150px !important; } }

nav > div > ul.nav-margin > li {
  margin-top: 12%; }
  nav > div > ul.nav-margin > li > a {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 500; }

ul.custom-nav > li > a:hover {
  background: rgba(255, 255, 255, 0.1);
  padding-bottom: 6px; }

.tourBtn {
  margin-top: 5%; }

.facebook i {
  font-size: 36px;
  color: #3b5998; }

.instagram i {
  font-size: 36px;
  color: #4c68d7; }

.twitter i {
  font-size: 36px;
  color: #00aced; }

.youtube i {
  font-size: 36px;
  color: #bb0000; }

.footer-copyright > div > div {
  font-size: 12px; }
  .footer-copyright > div > div a {
    text-decoration: none;
    color: inherit;
    font-style: italic; }
